
card()
  padding: 10px 15px
  background: #fff

ellipsis(rows)
  overflow: hidden
  text-overflow: ellipsis
  display: -webkit-box;
  -webkit-line-clamp: rows;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;

modal()
  card()
  width: 90%
  min-height: 200px
  .modal-header
    font-weight: bold
  .modal-footer
    display: flex
    justify-content: space-between
    padding: 15px
  .modal-footer-center
    text-align: center

table()
  border-spacing: 0
  th
    padding: 5px 8px
    background: #e1f8ff
    border: 1px solid #dfdfdf
  td
    padding: 5px 8px
    border: 1px solid #dfdfdf

  